footer {
  background-color: var(--cor-primaria);
  height: 200px;
  color: white;
}

.footercontent {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logos {
  width: 30%;

  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#logoUnasp {
  height: 37.5px;
}

#logoFat {
  height: 50px;
}

.contato {
  width: 30%;

  font-style: normal;
  font-weight: 400;
}
