<footer>
  <div class="footercontent">
    <div class="logos">
      <img
        id="logoUnasp"
        class="logosFooter"
        src="assets/imgs/unaspWhite.png"
        alt="Logo do Unasp"
      />
      <img
        id="logoFat"
        class="logosFooter"
        src="assets/imgs/fat.png"
        alt="Logo da Faculdade de Teologia"
      />
    </div>
    <div class="contato">
      <p class="contatoText">
        Estrada Municipal Pastor Walter Boger, S/N - Lagoa Bonita, Eng. Coelho -
        SP, 13448-900
      </p>
      <p class="contatoText">0800 948 0048</p>
      <p class="contatoText">atendimento.ec&#64;unasp.edu.br</p>
    </div>
  </div>
</footer>
