footer {
  background-color: var(--cor-primaria);
  height: 200px;
  color: white;
  overflow: hidden;
}

.footercontent {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logos {
  width: fit-content;

  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#logoUnasp {
  height: 37.5px;
}

#logoFat {
  height: 50px;
}

.contato {
  width: 30%;

  font-style: normal;
  font-weight: 400;
}

@media (max-width: 480px) {
  .footercontent {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  #logoUnasp {
    height: 24px;
  }

  #logoFat {
    height: 36px;
  }

  .contato {
    width: 100%;
  }

  .contatoText {
    font-size: 10px;
  }

  .contatoText {
    font-size: 17px;
  }
}
