<app-container>
  <section class="information">
    <div class="title">
      <img
        class="iconeInformacao"
        src="assets/icones/iconeQuestao.svg"
        alt="Ícone de ponto de interrogação"
      />
      <h1>Sobre o In Mission</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quos
      esse. Veritatis reprehenderit, iusto saepe praesentium suscipit sapiente
      est, cumque omnis quia quae quisquam doloribus pariatur delectus quod
      porro asperiores dolores dolor quaerat aliquid, id ad mollitia quis. Non,
      ipsa!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iste, optio
      at dolorem laborum sequi beatae earum sit, ea fugit sunt! Blanditiis enim
      accusamus itaque impedit veritatis asperiores possimus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta quae
      delectus error repellendus dolorum dolore ipsum, et numquam incidunt nam
      debitis. Tempora maxime dolorem fugit consectetur ipsam ratione
      cupiditate, nisi facere nemo dignissimos laborum dolores. Non,
      praesentium?
    </p>
  </section>
  <section class="information">
    <div class="title">
      <img
        class="iconeInformacao"
        src="assets/icones/palestranteIcone.svg"
        alt="Ícone de ponto de interrogação"
      />
      <h1>Palestrantes</h1>
    </div>
    <div class="palestrante">
      <div
        class="palestranteFoto"
        style="background-image: url('assets/imgs/kakashi.jpg')"
      ></div>
      <div class="palestranteCredenciais">
        <p class="palestranteNome">Hataki Kakashi</p>
        <p class="palestranteTitulacao">
          Jounin especialista em jutsos de raio.
        </p>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quos
        esse. Veritatis reprehenderit, iusto saepe praesentium suscipit sapiente
        est, cumque omnis quia quae quisquam doloribus pariatur delectus quod
        porro asperiores dolores dolor quaerat aliquid, id ad mollitia quis.
        Non, ipsa!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iste, optio
        at dolorem laborum sequi beatae earum sit, ea fugit sunt! Blanditiis
        enim accusamus itaque impedit veritatis asperiores possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta
        quae delectus error repellendus dolorum dolore ipsum, et numquam
        incidunt nam debitis. Tempora maxime dolorem fugit consectetur ipsam
        ratione cupiditate, nisi facere nemo dignissimos laborum dolores. Non,
        praesentium?
      </p>
    </div>
    <div class="palestrante">
      <div
        class="palestranteFoto"
        style="background-image: url('assets/imgs/kakashi.jpg')"
      ></div>
      <div class="palestranteCredenciais">
        <p class="palestranteNome">Hataki Kakashi</p>
        <p class="palestranteTitulacao">
          Jounin especialista em jutsos de raio.
        </p>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quos
        esse. Veritatis reprehenderit, iusto saepe praesentium suscipit sapiente
        est, cumque omnis quia quae quisquam doloribus pariatur delectus quod
        porro asperiores dolores dolor quaerat aliquid, id ad mollitia quis.
        Non, ipsa!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iste, optio
        at dolorem laborum sequi beatae earum sit, ea fugit sunt! Blanditiis
        enim accusamus itaque impedit veritatis asperiores possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta
        quae delectus error repellendus dolorum dolore ipsum, et numquam
        incidunt nam debitis. Tempora maxime dolorem fugit consectetur ipsam
        ratione cupiditate, nisi facere nemo dignissimos laborum dolores. Non,
        praesentium?
      </p>
    </div>
    <div class="palestrante">
      <div
        class="palestranteFoto"
        style="background-image: url('assets/imgs/kakashi.jpg')"
      ></div>
      <div class="palestranteCredenciais">
        <p class="palestranteNome">Hataki Kakashi</p>
        <p class="palestranteTitulacao">
          Jounin especialista em jutsos de raio.
        </p>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quos
        esse. Veritatis reprehenderit, iusto saepe praesentium suscipit sapiente
        est, cumque omnis quia quae quisquam doloribus pariatur delectus quod
        porro asperiores dolores dolor quaerat aliquid, id ad mollitia quis.
        Non, ipsa!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iste, optio
        at dolorem laborum sequi beatae earum sit, ea fugit sunt! Blanditiis
        enim accusamus itaque impedit veritatis asperiores possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta
        quae delectus error repellendus dolorum dolore ipsum, et numquam
        incidunt nam debitis. Tempora maxime dolorem fugit consectetur ipsam
        ratione cupiditate, nisi facere nemo dignissimos laborum dolores. Non,
        praesentium?
      </p>
    </div>
  </section>
</app-container>
