<app-container>
  <section class="information">
    <div class="title">
      <img
        class="iconeInformacao"
        src="assets/icones/iconeInformacao.svg"
        alt="Ícone de uma letra i envolta em um círculo"
      />
      <h1>Sobre o In Mission</h1>
    </div>
    <p>
      O Simpósio de Missão Urbana "In Mission", realizado de 14 a 17 de novembro
      no campus Engenheiro Coelho da UNASP, constituiu um fórum acadêmico de
      destaque promovido pela Faculdade de Teologia (FAT). Com ênfase na
      temática "Revitalizando igrejas para o cumprimento da missão", o evento
      reuniu líderes eclesiásticos nacionais e internacionais em sessões de
      workshops e plenárias, proporcionando uma oportunidade significativa para
      o intercâmbio de conhecimentos e discussões aprofundadas.
    </p>
    <p>
      O simpósio, marcado por sua abordagem presencial, enfocou os
      desdobramentos da pandemia nas comunidades eclesiásticas, visando
      transformar o declínio da fé em uma motivação missionária. Notáveis
      expoentes, como Alejandro Bullón, Erton Köhler e Silvano Barbosa,
      compartilharam suas perspectivas e experiências, contribuindo para a
      compreensão dos desafios e oportunidades contemporâneos na esfera
      religiosa.
    </p>

    <p>
      No âmbito digital, o evento explorou o fenômeno do pós-cristianismo,
      considerando a redução da participação nas igrejas e a ampliação da
      influência do mundo digital. Destacou-se a necessidade de não apenas
      restaurar práticas anteriores, mas também de desenvolver estratégias
      adaptativas, promovendo uma coexistência híbrida em consonância com o
      cenário pós-pandêmico. O "In Mission" reafirmou-se como um enclave
      acadêmico essencial para a reflexão sobre os desafios contemporâneos no
      contexto eclesiástico e missionário.
    </p>
  </section>
  <section class="information">
    <div class="title">
      <img
        class="iconeInformacao"
        src="assets/icones/iconeQuestao.svg"
        alt="Ícone de ponto de interrogação"
      />
      <h1>Por que "revitalização de igrejas"?</h1>
    </div>
    <p>Assista o video a seguir para entender o tema e sua importância.</p>
    <div class="videoRevitalizacao">
      <iframe
        src="https://drive.google.com/file/d/1ehE00xks1JPWfHcW_jIbqeQFNsBAD5P6/preview"
        width="100%"
        height="100%"
        allow="autoplay "
        allowfullscreen
      ></iframe>
    </div>
    <p>
      Nunca na história esse assunto foi tão importante como no tempo em que o
      povo de Deus é descrito como alguém que <i>não sabe</i> que é "infeliz,
      sim, miserável, pobre, cego e nu".
    </p>
  </section>
  <section class="information">
    <div class="title">
      <img
        class="iconeInformacao"
        src="assets/icones/palestranteIcone.svg"
        alt="Ícone de ponto de interrogação"
      />
      <h1>Palestrantes</h1>
    </div>
    <div class="palestrante">
      <div
        class="palestranteFoto"
        style="background-image: url('assets/imgs/kakashi.jpg')"
      ></div>
      <div class="palestranteCredenciais">
        <p class="palestranteNome">Hataki Kakashi</p>
        <p class="palestranteTitulacao">
          Jounin especialista em jutsos de raio.
        </p>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quos
        esse. Veritatis reprehenderit, iusto saepe praesentium suscipit sapiente
        est, cumque omnis quia quae quisquam doloribus pariatur delectus quod
        porro asperiores dolores dolor quaerat aliquid, id ad mollitia quis.
        Non, ipsa!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iste, optio
        at dolorem laborum sequi beatae earum sit, ea fugit sunt! Blanditiis
        enim accusamus itaque impedit veritatis asperiores possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta
        quae delectus error repellendus dolorum dolore ipsum, et numquam
        incidunt nam debitis. Tempora maxime dolorem fugit consectetur ipsam
        ratione cupiditate, nisi facere nemo dignissimos laborum dolores. Non,
        praesentium?
      </p>
    </div>
    <div class="palestrante">
      <div
        class="palestranteFoto"
        style="background-image: url('assets/imgs/kakashi.jpg')"
      ></div>
      <div class="palestranteCredenciais">
        <p class="palestranteNome">Hataki Kakashi</p>
        <p class="palestranteTitulacao">
          Jounin especialista em jutsos de raio.
        </p>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quos
        esse. Veritatis reprehenderit, iusto saepe praesentium suscipit sapiente
        est, cumque omnis quia quae quisquam doloribus pariatur delectus quod
        porro asperiores dolores dolor quaerat aliquid, id ad mollitia quis.
        Non, ipsa!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iste, optio
        at dolorem laborum sequi beatae earum sit, ea fugit sunt! Blanditiis
        enim accusamus itaque impedit veritatis asperiores possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta
        quae delectus error repellendus dolorum dolore ipsum, et numquam
        incidunt nam debitis. Tempora maxime dolorem fugit consectetur ipsam
        ratione cupiditate, nisi facere nemo dignissimos laborum dolores. Non,
        praesentium?
      </p>
    </div>
    <div class="palestrante">
      <div
        class="palestranteFoto"
        style="background-image: url('assets/imgs/kakashi.jpg')"
      ></div>
      <div class="palestranteCredenciais">
        <p class="palestranteNome">Hataki Kakashi</p>
        <p class="palestranteTitulacao">
          Jounin especialista em jutsos de raio.
        </p>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quos
        esse. Veritatis reprehenderit, iusto saepe praesentium suscipit sapiente
        est, cumque omnis quia quae quisquam doloribus pariatur delectus quod
        porro asperiores dolores dolor quaerat aliquid, id ad mollitia quis.
        Non, ipsa!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iste, optio
        at dolorem laborum sequi beatae earum sit, ea fugit sunt! Blanditiis
        enim accusamus itaque impedit veritatis asperiores possimus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta
        quae delectus error repellendus dolorum dolore ipsum, et numquam
        incidunt nam debitis. Tempora maxime dolorem fugit consectetur ipsam
        ratione cupiditate, nisi facere nemo dignissimos laborum dolores. Non,
        praesentium?
      </p>
    </div>
  </section>
</app-container>
